footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #434343, #000000);
    border-top: 1px solid rgba(221, 221, 221, 0.7);
    margin-top: 20px;
    color: #fff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer .social-links {
    display: flex;
    gap: 15px;
}

footer .social-links a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #f2a365;
}